.navbar-topMenu{
	background-color: #86bfe8 !important;
	border-color: transparent !important;	
	margin-bottom: 0px !important;	
	height: 60px;
}

.navbar-right{
	margin-right: 35px !important;
}

.navbar-header{
	margin-left: 35px !important;
	background-image: url("../resources/img/navbar-icon.png");	
}

.container-fluid{
	padding-top: 15px;
}

/*#about-us{
	width: 1270px;
}*/
.container-topPage{
	background-color:transparent;
	
}
.container-logo-full{
	padding: 20px;
	height:100px;

}

#logo-full{
	width: 250px;
	margin-left: 55px;
}

.text-middle{
	float:left;
}

.container-middle{
	float:right;
}

